{
  "extends": [
    "airbnb",
  ],
  "parser": "babel-eslint",
  "rules": {
    "strict": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "jasmine/no-spec-dupes": "off",
    "no-confusing-arrow": "off",
    "no-console": "warn",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "arrow-parens": "off"
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "jest": true,
    "$Subtype": true,
    "R": true,
    "describe": true,
    "it": true,
    "expect": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  }
}
